# 의존성 모듈
node_modules/

# 환경 설정 파일
.env
.env.local
.env.*.local

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빌드 결과물
dist/
build/
out/

# IDE 설정 파일
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS 생성 파일
.DS_Store
Thumbs.db

# 캐시 파일
.cache/
.temp/
.tmp/

# 커버리지 리포트
coverage/

# 임시 파일
*.tmp
*.temp
